{% if settings.column_width == '25' %}
    {% set column_one_classes = ['uk-width-1-4@m'] %}
{% elseif settings.column_width == '33' %}
    {% set column_one_classes = ['uk-width-1-3@m'] %}
{% elseif settings.column_width == '50' %}
    {% set column_one_classes = ['uk-width-1-2@m'] %}
{% elseif settings.column_width == '66' %}
    {% set column_one_classes = ['uk-width-2-3@m'] %}
{% elseif settings.column_width == '75' %}
    {% set column_one_classes = ['uk-width-3-4@m'] %}
{% endif %}

{% if content %}
  <div {{ section_attributes }}>
    <div {{ container_attributes }}>
      <div {{ grid_attributes.addClass(grid_classes) }}>
        {% if content.one %}
          <div {{ region_attributes.one.addClass(column_one_classes) }}>
            {{ content.one }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
