{% set grid_classes = [
  'uk-child-width-1-2@s',
  'uk-child-width-1-3@m',
  'uk-child-width-1-6@xl',
  ]
%}

{% if content %}
  <div {{ section_attributes }}>
    <div {{ container_attributes }}>
      <div {{ grid_attributes.addClass(grid_classes) }}>
        {% if content.one %}
          <div {{ region_attributes.one }}>
            {{ content.one }}
          </div>
        {% endif %}
        {% if content.two %}
          <div {{ region_attributes.two }}>
            {{ content.two }}
          </div>
        {% endif %}
        {% if content.three %}
          <div {{ region_attributes.three }}>
            {{ content.three }}
          </div>
        {% endif %}
        {% if content.four %}
          <div {{ region_attributes.four }}>
            {{ content.four }}
          </div>
        {% endif %}
        {% if content.five %}
          <div {{ region_attributes.five }}>
            {{ content.five }}
          </div>
        {% endif %}
        {% if content.six %}
          <div {{ region_attributes.six }}>
            {{ content.six }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
