{% if settings.column_width == '25/50/25' %}
  {% set column_one_classes = ['uk-width-1-4@m'] %}
  {% set column_two_classes = ['uk-width-1-2@m'] %}
  {% set column_three_classes = ['uk-width-1-4@m'] %}
{% elseif settings.column_width == '25/25/50' %}
  {% set column_one_classes = ['uk-width-1-4@m'] %}
  {% set column_two_classes = ['uk-width-1-4@m'] %}
  {% set column_three_classes = ['uk-width-1-2@m'] %}
{% elseif settings.column_width == '50/25/25' %}
  {% set column_one_classes = ['uk-width-1-2@m'] %}
  {% set column_two_classes = ['uk-width-1-4@m'] %}
  {% set column_three_classes = ['uk-width-1-4@m'] %}
{% else %}
  {% set grid_classes = ['uk-child-width-1-3@m'] %}
{% endif %}

{% if content %}
  <div {{ section_attributes }}>
    <div {{ container_attributes }}>
      <div {{ grid_attributes.addClass(grid_classes) }}>
        {% if content.one %}
          <div {{ region_attributes.one.addClass(column_one_classes) }}>
            {{ content.one }}
          </div>
        {% endif %}
        {% if content.two %}
          <div {{ region_attributes.two.addClass(column_two_classes) }}>
            {{ content.two }}
          </div>
        {% endif %}
        {% if content.three %}
          <div {{ region_attributes.three.addClass(column_three_classes) }}>
            {{ content.three }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
