{% if settings.column_width == '25/75' %}
  {% set column_one_classes = ['uk-width-1-4@s'] %}
  {% set column_two_classes = ['uk-width-3-4@s'] %}
{% elseif settings.column_width == '33/66' %}
  {% set column_one_classes = ['uk-width-1-3@s'] %}
  {% set column_two_classes = ['uk-width-2-3@s'] %}
{% elseif settings.column_width == '66/33' %}
  {% set column_one_classes = ['uk-width-2-3@s'] %}
  {% set column_two_classes = ['uk-width-1-3@s'] %}
{% elseif settings.column_width == '75/25' %}
  {% set column_one_classes = ['uk-width-3-4@s'] %}
  {% set column_two_classes = ['uk-width-1-4@s'] %}
{% else %}
  {% set grid_classes = ['uk-child-width-1-2@s'] %}
{% endif %}

{% if content %}
  <div {{ section_attributes }}>
    <div {{ container_attributes }}>
      <div {{ grid_attributes.addClass(grid_classes) }}>
        {% if content.one %}
          <div {{ region_attributes.one.addClass(column_one_classes) }}>
            {{ content.one }}
          </div>
        {% endif %}
        {% if content.two %}
          <div {{ region_attributes.two.addClass(column_two_classes) }}>
            {{ content.two }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
